/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #pano {
        width: 100%;
        height: 100%;
        float: left;
      }

      #timer{
        position: absolute;
        width:240px;
        top: 40px;
        left: 40px;
        z-index: 5;
        display: none;
      }

      #floating-panel {
        position: absolute;
        top: 205px;
        left: 138px;
        z-index: 5;
        color: white;
        text-align: center;
        font-size: 35px;
        font-family: 'Lora', serif;
        display: none;
      }


        /* font-family: 'Do Hyeon', sans-serif; */
        /* font-family: "Roboto", "sans-serif"; */