@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Homemade+Apple&display=swap');
/* Always set the map height explicitly to define the size of the div
       * element that contains the map. */
       #map {
        height: 100%;
      }
      
      /* Optional: Makes the sample page fill the window. */
      html,
      body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      
      #pano {
        width: 100%;
        height: 100%;
        float: left;
      }

      #backgroundT {
        opacity:0.5;
        position: absolute;
        width:100%;
        height:100%;
        z-index: 3;
        display: none;
    }

      #bigScript{
        position: absolute;
        width:790px;
        height:900px;
        top: 40px;
        left: 560px;
        z-index: 5;
        display: none;
      }

      #smallScript{
        position: absolute;
        width:400px;
        top: 730px;
        left: 1510px;
        z-index: 5;
        display: none;
      }

      #seal{
        position: absolute;
        width:120px;
        top: 860px;
        left: 890px;
        z-index: 10;
        display: none;
      }

      #message{
        position: absolute;
        top: 250px;
        left: 710px;
        z-index: 10;
        font-family: 'Dancing Script', cursive; text-align: left; font-size: 26px;
      }

      /* #floating-panel {
        position: absolute;
        top: 205px;
        left: 138px;
        z-index: 5;
        color: white;
        text-align: center;
        font-size: 35px;
        font-family: 'Lora', serif;
        display: none;
      } */




        /* font-family: 'Do Hyeon', sans-serif; */
        /* font-family: "Roboto", "sans-serif"; */