*{margin:0; padding: 0;}

body {
    margin: 0;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(image/wallpaper.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    /* overflow: hidden; */
}
.img0{
    width: 430px;
    position: absolute;
    left:4%;
    top:3%;
/*     left:100px; */
/*     top: 30px; */
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img1{
    width: 470px;
    position: absolute;
    left:68%;
    top:23%;
/*     left:1320px;
    top: 250px; */
    transform: rotate(4deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img2{
    width: 550px;
    position: absolute;
    left:11%;
    top:55%;
/*     left:190px; */
/*     top: 560px; */
    transform: rotate(-11deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img3{
    width: 570px;
    position: absolute;
    left:46%;
    top:8%;
/*     left:890px; */
/*     top: 50px; */
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img4{
    width: 640px;
    position: absolute;
    left:25%;
    top:20%;
/*     left:420px; */
/*     top: 240px; */
    transform: rotate(-0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img5{
    width: 630px;
    position: absolute;
    left:40%;
    top:55%;
/*     left:720px;
    top: 570px; */
    transform: rotate(3deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img10{
    width: 430px;
    position: absolute;
    left:4%;
    top:3%;
/*     left:100px; */
/*     top: 30px; */
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img11{
    width: 470px;
    position: absolute;
    left:68%;
    top:23%;
/*     left:1320px;
    top: 250px; */
    transform: rotate(4deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img12{
    width: 550px;
    position: absolute;
    left:11%;
    top:55%;
/*     left:190px; */
/*     top: 560px; */
    transform: rotate(-11deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img13{
    width: 570px;
    position: absolute;
    left:46%;
    top:8%;
/*     left:890px; */
/*     top: 50px; */
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img14{
    width: 640px;
    position: absolute;
    left:25%;
    top:20%;
/*     left:420px; */
/*     top: 240px; */
    transform: rotate(-0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img15{
    width: 630px;
    position: absolute;
    left:40%;
    top:55%;
/*     left:720px;
    top: 570px; */
    transform: rotate(3deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img0:hover{
    width: 445px;
    position: absolute;
    left:3.5%;
    top:2.5%;
/*     left:100px; */
/*     top: 30px; */
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img1:hover{
    width: 485px;
    position: absolute;
    left:67.5%;
    top:22.5%;
/*     left:1320px;
    top: 250px; */
    transform: rotate(4deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img2:hover{
    width: 565px;
    position: absolute;
    left:10.5%;
    top:54.5%;
/*     left:190px; */
/*     top: 560px; */
    transform: rotate(-11deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img3:hover{
    width: 585px;
    position: absolute;
    left:45.5%;
    top:7.5%;
/*     left:890px; */
/*     top: 50px; */
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img4:hover{
    width: 655px;
    position: absolute;
    left:24.5%;
    top:19.5%;
/*     left:420px; */
/*     top: 240px; */
    transform: rotate(-0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img5:hover{
    width: 645px;
    position: absolute;
    left:39.5%;
    top:54.5%;
/*     left:720px;
    top: 570px; */
    transform: rotate(3deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img10:hover{
    width: 445px;
    position: absolute;
    left:3.5%;
    top:2.5%;
/*     left:100px; */
/*     top: 30px; */
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img11:hover{
    width: 485px;
    position: absolute;
    left:67.5%;
    top:22.5%;
/*     left:1320px;
    top: 250px; */
    transform: rotate(4deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img12:hover{
    width: 565px;
    position: absolute;
    left:10.5%;
    top:54.5%;
/*     left:190px; */
/*     top: 560px; */
    transform: rotate(-11deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img13:hover{
    width: 585px;
    position: absolute;
    left:45.5%;
    top:7.5%;
/*     left:890px; */
/*     top: 50px; */
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img14:hover{
    width: 655px;
    position: absolute;
    left:24.5%;
    top:19.5%;
/*     left:420px; */
/*     top: 240px; */
    transform: rotate(-0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img15:hover{
    width: 645px;
    position: absolute;
    left:39.5%;
    top:54.5%;
/*     left:720px;
    top: 570px; */
    transform: rotate(3deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.big0{
    width: 35%;
    margin-top: 2%;
    z-index: 5;
    display: none;
}
.big1{
    width: 35%;
    margin-top: 2%;
    z-index: 5;
    display: none;
}
.big2{
    width: 70%;
    margin-top: 4%;
    z-index: 5;
    display: none;
}
.big3{
    width: 70%;
    margin-top: 3.5%;
    z-index: 5;
    display: none;
}
.big4{
    width: 70%;
    margin-top: 6%;
    z-index: 5;
    display: none;
}
.big5{
    width: 70%;
    margin-top: 7%;
    z-index: 5;
    display: none;
}

.visible{
    display: block;
}
.hidden{
    display: none;
}

.backgroundT{
    opacity:0.5;
    position: absolute;
    width:100%;
    height:200%;
    z-index: 3;
    display: none;
}
