*{margin:0; padding: 0;}

body {
    margin: 0;
    /* height: 100vh; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    background: url(image/wallpaper.jpg);
    background-size: cover;
    width: 100%;
    height: 100%;
    overflow: hidden;
}
.img0{
    width: 430px;
    position: absolute;
    left:100px;
    top: 30px;
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img1{
    width: 470px;
    position: absolute;
    left:1320px;
    top: 250px;
    transform: rotate(4deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img2{
    width: 550px;
    position: absolute;
    left:190px;
    top: 560px;
    transform: rotate(-11deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img3{
    width: 570px;
    position: absolute;
    left:890px;
    top: 50px;
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img4{
    width: 640px;
    position: absolute;
    left:420px;
    top: 240px;
    transform: rotate(-0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img5{
    width: 630px;
    position: absolute;
    left:720px;
    top: 570px;
    transform: rotate(3deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img10{
    width: 430px;
    position: absolute;
    left:100px;
    top: 30px;
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img11{
    width: 470px;
    position: absolute;
    left:1320px;
    top: 250px;
    transform: rotate(4deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img12{
    width: 550px;
    position: absolute;
    left:190px;
    top: 560px;
    transform: rotate(-11deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}
.img13{
    width: 570px;
    position: absolute;
    left:890px;
    top: 50px;
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img14{
    width: 640px;
    position: absolute;
    left:420px;
    top: 240px;
    transform: rotate(-0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}

.img15{
    width: 630px;
    position: absolute;
    left:720px;
    top: 570px;
    transform: rotate(3deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.2);
}


.img0:hover{
    width: 450px;
    position: absolute;
    left:90px;
    top: 20px;
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.img1:hover{
    width: 490px;
    position: absolute;
    left:1310px;
    top: 240px;
    transform: rotate(4deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.img2:hover{
    width: 570px;
    position: absolute;
    left:180px;
    top: 550px;
    transform: rotate(-11deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.img3:hover{
    width: 590px;
    position: absolute;
    left:880px;
    top: 40px;
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.img4:hover{
    width: 660px;
    position: absolute;
    left:410px;
    top: 230px;
    transform: rotate(-0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.img5:hover{
    width: 650px;
    position: absolute;
    left:710px;
    top: 560px;
    transform: rotate(3deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.img10:hover{
    width: 450px;
    position: absolute;
    left:90px;
    top: 20px;
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.img11:hover{
    width: 490px;
    position: absolute;
    left:1310px;
    top: 240px;
    transform: rotate(4deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.img12:hover{
    width: 570px;
    position: absolute;
    left:180px;
    top: 570px;
    transform: rotate(-11deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.img13:hover{
    width: 590px;
    position: absolute;
    left:880px;
    top: 40px;
    transform: rotate(0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.img14:hover{
    width: 660px;
    position: absolute;
    left:430px;
    top: 230px;
    transform: rotate(-0deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}
.img15:hover{
    width: 650px;
    position: absolute;
    left:710px;
    top: 560px;
    transform: rotate(3deg);
    box-shadow: 0 0 40px rgba(0, 0, 0, 0.6);
}

.visible{
    display: block;
}
.hidden{
    display: none;
}